
body {
    background: #4a8d5e8f; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

/* About section */
.about {
    background-color: #f5f5dc; 
    color: #2f4f4f; 
    padding: 30px;
    text-align: center;
}

/* Skills section */
.skills {
    background-color: #ffb380; 
    color: #000000;
    padding: 30px;
    text-align: center;
}

/* Projects section */
.projects {
    background-color: #80d4d4; 
    color: #000000;
    padding: 30px;
    text-align: center;
}

/* Contact section */
.contact {
    background-color: #b399ff; 
    color: #000000;
    padding: 30px;
    text-align: center;
}

.project img {
  max-width: 90%;        
  width: auto;          
  border: 3px solid #5e2a84;   
  border-radius: 10px;   
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
  display: block;
  margin: 15px auto;     
}